In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv('C:/Users/cheery/Desktop/UCI/bank/bank-full.csv')

In [3]:
rawdata.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>58;"management";"married";"tertiary";"no";2143...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>44;"technician";"single";"secondary";"no";29;"...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>33;"entrepreneur";"married";"secondary";"no";2...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>47;"blue-collar";"married";"unknown";"no";1506...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>33;"unknown";"single";"unknown";"no";1;"no";"n...</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 1 columns):
age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    45211 non-null object
dtypes: object(1)
memory usage: 353.3+ KB

In [6]:
rawdata.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
rawdata.info()